<IfModule mod_rewrite.c>

RewriteEngine on
#if the url request is a file then do nothing
RewriteCond %{REQUEST_FILENAME}  !-f
#if the url is not a file then redirect to init.php
RewriteRule ^(.*)$ index.php?url=$1&%{QUERY_STRING} [PT,L]

</IfModule>